/* 
Original Author: Brianna Baldwin
 Date Created: 04/27/2021
 Date Last Modified: 04/27/2021
 Modified by: Brianna Baldwin
 Modification log:
    04/27/2021 - Created file
    */

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  height: 560px;
  border: solid black;
}

.grid div {
  width: 20px;
  height: 20px;
}

.star-bit {
  background-color: green;
  border: 5px solid white;
  box-sizing: border-box;
}

.wall {
  background-color: blue;
}

.jetpack {
  background-color: green;
  border-radius: 10px;
}

.lumpo {
  background-color: red;
  border: 0px;
}

.stinko {
  background-color: green;
  border: 0px;
}

.sticko {
  background-color: pink;
  border: 0px;
}

.mike {
  background-color: orange;
  border: 0px;
}

.launched-alien {
  background-color: aquamarine;
  border: 0px;
}









.star-man {
  background-color: yellow;
  border-radius: 10px;
  border: 0px;
}